Options +FollowSymLinks -MultiViews

#RewriteEngine on
#RewriteRule ^chatroom/([0-9]+)/?$  chat?pincode=$1 [NC]
#RewriteRule ^/?([a-z]+)$ $1.php [NC,L]


RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www.)?mytodaysgospel.com$
RewriteRule ^(/)?$ webapp [L]

RewriteCond %{HTTP_HOST} ^(www.)?instamapsearch.com$
RewriteRule ^(/)?$ app [L]

RewriteCond %{HTTP_HOST} ^(www.)?instastrm.com$
RewriteRule ^(/)?$ stream [L]

<Files ~ "config.txt">
Order allow,deny
Deny from all
Satisfy all
</Files>

ErrorDocument 404 /Errors/error404.php
ErrorDocument 500 /Errors/error500.php
